@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Nunito+Sans&display=swap");

@import "../node_modules/bootstrap/scss/bootstrap";
@import "utils/flexbox.scss";
@import "utils/loader.scss";
@import "header.scss";
@import "carteProduit.scss";
@import "connexion.scss";
@import "partenaire.scss";
@import "savoir_plus.scss";
@import "home.scss";

:root {
  --bs-body-font-family: "Nunito sans";
}

h1 {
  font-family: "Aclonica";
}

body {
  margin: 0;
  padding: 0;
}

.click {
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.click:hover {
  opacity: 0.7;
}

.center {
  @include flex(center, center, 0);
}

.center-column {
  @include flex(center, center, column);
}

.min-height {
  min-height: 100vh;
}

.mobile-only {
  display: none;
}




@media screen and (max-width: 768px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}
