include ../header.pug
doctype html
html(lang="fr")
    include ../head.pug
    body
        +header ("Accueil")
        .container-fluid.min-height
            .row.min-height 
                .col-sm.home-right
                   
                    .home-left
                        h1
                            b DECOUVRIR 
                            em Waraniéné
                        div 
                            a(href= "savoir_plus.html" class="a" id="a1")
                                span.text= 'En savoir +'
                                span.line.-right 
                                span.line.-top  
                                span.line.-left
                                span.line.-bottom  
                            a(href= "nos_produits.html" class="a")
                                span.text= 'Nos produits'
                                span.line.-right 
                                span.line.-top  
                                span.line.-left
                                span.line.-bottom 
    include ../footer.pug
