script(src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js") 
script(src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js")
script(src="https://www.gstatic.com/firebasejs/9.6.7/firebase-firestore-compat.js") 
script(src="script/Autentication.js" ) 
 